body{
  background-color: #D5E1EF;
  font-family: sans-serif;
  text-align: center;
 

}

.card{
  position: absolute;
  margin: auto;
  padding: 1rem;
  inset: 0;
  background-color: white;
  width: 100%;
  max-width: 303px;
  height: 480px;
  border-radius:15px;
  box-shadow: 0px 10px 8px 10px rgb(0 0 0 / 30%);
 
}
img{
  width: 100%;
  border-radius:10px;
}
h2{
  color:#252D47;
  font-weight: 700;
}
.card p{
  color: rgb(31, 50, 81);
}